body {
    margin: 0; /* Eliminar los márgenes predeterminados del cuerpo */
    padding: 0; /* Eliminar el relleno predeterminado del cuerpo */
    font-size: 30px;
    font-family:"Arial";
}
/* Estilos para pantallas medianas (tablets) */
@media (max-width: 992px) {
    body {
        font-size: 14px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

/* Estilos para pantallas extra pequeñas (móviles pequeños) */
@media (max-width: 576px) {
    body {
        font-size: 10px;
    }
}
/* Estilos para el menú de navegación */
nav {
    background-color: #000; /* Color de fondo negro */
    position: fixed; /* Fijar el menú en la parte superior */
    top: 0; /* Fijar en la parte superior */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 0; /* Eliminar márgenes */
    
}

/* Estilos para la lista no ordenada (ul) dentro del menú de navegación */
nav ul {
    list-style-type: none; /* Quitar los marcadores de lista */
    margin: 0; /* Eliminar el margen */
    padding: 0; /* Eliminar el relleno */
    display: flex; /* Utilizar flexbox para distribuir los elementos */
    justify-content: center; /* Centrar los elementos horizontalmente */
}

/* Estilos para los elementos de lista (li) dentro del menú de navegación */
nav ul li {
    flex-grow: 1; /* Hacer que los elementos se expandan igualmente */

}

/* Estilos para los enlaces (a) dentro del menú de navegación */
nav ul li a {
    display: block; /* Convertir los enlaces en bloques para ocupar todo el espacio disponible */
    padding: 10px 20px; /* Añadir relleno para espaciar los enlaces */
    color: #fff; /* Color del texto blanco */
    text-decoration: none; /* Quitar subrayado del enlace */
    text-align:center;
    /*padding: 50px;*/
}

/* Estilos para los enlaces (a) cuando se pasa el cursor sobre ellos */
nav ul li a:hover {
    background-color: #333; /* Cambiar el color de fondo al pasar el cursor */
}
