body {
    margin: 0; /* Eliminar los márgenes predeterminados del cuerpo */
    padding: 0; /* Eliminar el relleno predeterminado del cuerpo */
    font-size: 30px;
    font-family:"Arial";
}
/* Estilos para pantallas medianas (tablets) */
@media (max-width: 992px) {
    body {
        font-size: 14px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

/* Estilos para pantallas extra pequeñas (móviles pequeños) */
@media (max-width: 576px) {
    body {
        font-size: 10px;
    }
}
/* Estilos para el menú de navegación */
nav {
    background-color: #000; /* Color de fondo negro */
    position: fixed; /* Fijar el menú en la parte superior */
    top: 0; /* Fijar en la parte superior */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 0; /* Eliminar márgenes */
    z-index: 1;
}

/* Estilos para la lista no ordenada (ul) dentro del menú de navegación */
nav ul {
    list-style-type: none; /* Quitar los marcadores de lista */
    margin: 0; /* Eliminar el margen */
    padding: 0; /* Eliminar el relleno */
    display: flex; /* Utilizar flexbox para distribuir los elementos */
    justify-content: center; /* Centrar los elementos horizontalmente */
}

/* Estilos para los elementos de lista (li) dentro del menú de navegación */
nav ul li {
    flex-grow: 1; /* Hacer que los elementos se expandan igualmente */

}

/* Estilos para los enlaces (a) dentro del menú de navegación */
nav ul li a {
    display: block; /* Convertir los enlaces en bloques para ocupar todo el espacio disponible */
    padding: 10px 20px; /* Añadir relleno para espaciar los enlaces */
    color: #fff; /* Color del texto blanco */
    text-decoration: none; /* Quitar subrayado del enlace */
    text-align:center;
    
}

/* Estilos para los enlaces (a) cuando se pasa el cursor sobre ellos */
nav ul li a:hover {
    background-color: #333; /* Cambiar el color de fondo al pasar el cursor */
}
.imagen-perfil{
    width: 9%; /* Anchura de la imagen como un porcentaje del ancho del contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho especificado */
    float: right; /* Flotar la imagen a la derecha */
    margin-right: 0px;
}
.iconos {
    width: 10%; /* Anchura de la imagen como un porcentaje del ancho del contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho especificado */
    float: right; /* Flotar la imagen a la derecha */
    margin-right: 0px;
}


/* Estilos para los divs con información */
.info-div {
    display: none;
    background-color: #f0f0f0; /* Color de fondo para los divs */
    border: 2px solid #000; /* Borde sólido de 2px de color negro */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Relleno interno */
    margin: 100px auto 20px; /* Margen externo para espaciar los divs, 'auto' centrará los divs horizontalmente */
    z-index: 0;
}
.info-div:first-child {
    margin-top: 240px; /* Margen superior para desplazar el primer div hacia abajo */    
}
.input-correo {
    width: 100%;
    height: 40px;
    font-size: 30px;
    box-sizing: border-box;
}
.input-correo-textarea {
    width:100%;
    height: 200px;
    font-size: 30px;
    resize:none;
    box-sizing: border-box;
}
.input-correo-button {
    width: 30%;
    height: 40px;
}
.foto {
   width:40%;    
   height:auto;
}


